*{
    margin: 0;
    
}

.argo{
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.titre-argo {
    margin-top:150px;
}

/* FORMULAIRE */

.new-member-form{

    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding:50px;
}

.input {
display: flex;
justify-content: center;
}

#nom {

    width: 500px;
    text-align: center;
    outline:none;
    border:none;
    padding:10px;
    border-left: 1px solid rgb(189, 186, 186);
    border-bottom: 1px solid rgb(189, 186, 186);
    border-bottom-left-radius: 10px;
    margin-bottom: 20px;
    margin-right: 50px;
}

.embarquer {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;

    border: solid #0059A0 1px;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 40px;
 }
 
 .embarquer:hover {
    transition: 0.5s;
    border: 1px solid #011a2e;
    box-shadow: 1px 1px 20px 0 #0059A0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
 }

/* EQUIPAGE */

.titre-equipages, .titre-argo {
    text-align: center;
}

.titre-equipages {
     background-color: #0059A0;
     color: #fff;
     letter-spacing: 0.2em;
     margin-bottom:50px;
     padding: 30px;
}

.member-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 10px;
   align-items: center;
}

.border{
    padding:50px;
    border: 1px solid #1E62D0;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: linear-gradient(to right bottom, #ffffff, #eaecfc, #cfdbf9, #acccf7, #7ebff2);
}

.icone {
    text-align: left;
    padding-bottom:25px;
}

.bi-person {
    font-size:35px;
    color:rgb(110, 109, 109);
}

.equipage{
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size:20px;
    color: rgb(110, 109, 109);
    letter-spacing: 0.2em;
    padding-bottom:50px;
}

.actions{
    display: flex;
    justify-content: space-evenly;
}

.text-danger, .text-primary{
    font-size:20px;
}

.bi-trash, .bi-pencil {
    color:#000
}

/* RESPONSIVE */

@media screen and (max-width: 850px) {
    .argo{
        width: 100%;
    }

    .member-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
.input {
    flex-direction: column;
    align-items: center;
    width:100%;
}

#nom {
    border: 1px solid rgb(189, 186, 186);
    border-radius: 10px;
    margin-right:0px;
}
}


@media screen and (max-width: 550px) {
    .member-list{
        grid-template-columns: repeat(1, 1fr);
    }


    .new-member-form {
        width:100%;
        padding:0px;
        padding-top:50px;
        padding-bottom:50px;
    }

    #nom {
        width: auto;
    }

    .icone {
        text-align: center;
    }
}



