*{
    margin: 0;
    
}

.argo{
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.new-member-form{

    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding:50px;
}



.titre-equipages, .titre-argo {
    text-align: center;
}

.titre-equipages {
     background-color: #0059A0;
     color: #fff;
     letter-spacing: 0.2em;
     margin-bottom:50px;
}

.titre-argo {
    margin-top:150px;
}

.nom-argo, input{
font-size: 30px;
}

#nom {
    text-align: center;
    outline:none;
    border:none;
    padding:10px;
    border-top: 1px solid rgb(189, 186, 186);
    border-bottom: 1px solid rgb(189, 186, 186);

}

.embarquer {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
    -webkit-box-shadow: 1px 1px 20px 0 #0059A0;
    -moz-box-shadow: 1px 1px 20px 0 #0059A0;
    box-shadow: 1px 1px 20px 0 #0059A0;
    text-shadow: 1px 1px 20px #DD380D;
    border: solid #0059A0 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding: 8px 40px;
    margin-left: 20px;
 }
 
 .embarquer:hover {
    border: solid #DD380D 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }


 .titre-equipages{
    padding: 30px;
 }
.member-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 10px;
   align-items: center;
}

.border{
padding:50px;
    border: 1px solid #1E62D0;
    text-align: center;
    background-image: linear-gradient(to right bottom, #ffffff, #eaecfc, #cfdbf9, #acccf7, #7ebff2);
}

.equipage{

    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: rgb(110, 109, 109);
    letter-spacing: 0.2em;
    padding-bottom:50px;
}

.text-danger, .text-primary{
    padding: 10px;
}

.bi-trash, .bi-pencil {
    color:#000
}



/* RESPONSIVE */

@media screen and (max-width: 850px) {
    .argo{
        width: 100%;
    }

    .titre-argo{
        padding: 30px;
        margin-left: 30px;
      
    }

    .member-list{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 550px) {
    .member-list{
        grid-template-columns: repeat(1, 1fr);
    }

    

}



